
body {
    margin: 0;
    padding: 0;
    background-color: #e6e4ff;
    color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h2 {
    margin: 20px 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#country-inp {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: rgb(255, 0, 76);
    color: #fff;
    border: none;
    /* <!-- made by supriya --> */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #cc004d;
}

#result {
    border: 4px solid gray;
    border-radius: 8px;
    text-align:left;
    margin-top: 20px;
    width: 40%;
    
}

.flag-img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 3%;
}

.wrapper {
    margin-bottom: 10px;
}

.wrapper h4 {
  margin-left: 35%;
    display: inline;
    font-size: 18px;
    color: rgb(0, 0, 255);
    margin-right: 5px;
}

.wrapper span {
    font-size: 18px;
    color: #555;
}
