

.container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
    text-align: center;
}

.search-box {
    margin-bottom: 20px;   
    justify-content: center;
}

#inp-word {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px ;
    font-size: 16px;
}

#search-btn {
    background-color: #9043f5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius:6px;
    cursor: pointer;
   
}

#search-btn:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    text-align: center;
    align-items: center; border: 1px solid rgb(218, 221, 218);
    width: 60%;
    margin: auto;
}

.word {
    display: flex;
    justify-content: space-around;
    align-items: center;
     border: 1px solid rgb(218, 221, 218);
    width: 60%;
    margin: auto;
}

.word h3 {
 text-align: center;
    font-size: 24px;
}

.details {
    font-size: 18px;
    color: #656363;
    margin-top: 10px;
   width: 60%;
   margin: auto;
}

.word-meaning, .word-example {
    margin-top: 10px;
    width: 60%;
    margin: auto;
    color: #333;
}


button i {
    font-size: 24px;
}

button[onclick="playSound()"] {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
